<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
  <div class="container">
    <div class="pt-10 text-center text-gray-600">
      <p>&copy; 2024 WEB SHOP WIZARDS. All rights reserved.</p>
      <p>Made with <i class='fas fa-heart heart' style='font-size:1rem;color:red'></i> by WEB SHOP WIZARDS</p>

      <div class="social-media-links">
        <p>FOLLOW US ON</p>
        <a href="https://www.facebook.com/share/QdFt1JEfFFtRm2rF/?mibextid=qi2Omg"> <i class="fa fa-facebook-official"
            style="font-size:1.5rem;color:#5890FF"></i></a>
        <a href="https://www.github.com/Dineshkumar767"><i class="fa fa-github"
            style="font-size:1.5rem;color:#560e56"></i></a>
        <a href="https://www.linkedin.com/in/dineshkumar-ajmeera-800991271"><i class="fa fa-linkedin-square"
            style="font-size:1.5rem;color:#353593c9"></i></a>
        <a href="https://www.instagram.com/dinnu_aj?igsh=emd1cWRwbjJ4bDk1 "><i class="fa fa-instagram"
            style="font-size:1.5rem;color:#360101"></i></a>
        <a href="http://www.youtube.com/@dineshkumarajmeera">
          <i class="fa fa-youtube-play" style="font-size:1.5rem;color:red"></i>
        </a>



      </div>
    </div>
  </div>

</div>